*{
  box-sizing: border-box;
}

body{
  margin:0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.site-title {
  font-size: 24px;
  font-weight: bold;
}

.nav-right {
  display: flex;
  list-style: none;
  padding-right: 20px;
}

.nav-right li {
  margin-left: 20px;
}

.nav-right a {
  color: black;
  text-decoration: none;
}

.nav-right a.signup {
  font-weight: bold;
}

.site-title{
  font-size: 2rem;
}

.nav li.active{
  background-color: rgb(34, 31, 31)
}

.nav li:hover{
  background-color: rgb(68, 62, 62)
}

.nav-divider {
  width: 100%;
  height: 1px;
  background-color: #e8e8eb;
}

